*.scss
*.txt
*.ini
*.psd
*.ai
*.map
*.ts
*.zip
*.fig
*.code-workspace
/.prettierignore
**/root/*.scss
**/root/*.css
**/dist
**/__REACT
**/node_modules
**/build
design/
*.htmlhintrc
*.vscode
*.ini
*.code-workspace